{erl_opts, [{parse_transform, lager_transform}]}.
{lib_dirs, ["deps"]}.

% {plugins, [erlson_rebar_plugin]}. % newest rebar
% {rebar_plugins, [erlson_rebar_plugin]}. % older rebar

{deps, [
    {lager,     ".*", {git, "ssh://git@kfchain.com:7999/deps/lager.git",{branch, "master"}}},
    {mysql, ".*", {git, "ssh://git@kfchain.com:7999/deps/mysql.git", {branch,"master"}}},
    {poolboy, ".*", {git, "ssh://git@kfchain.com:7999/deps/poolboy.git", {branch,"master"}}},
    {mysql_poolboy, ".*", {git, "ssh://git@kfchain.com:7999/deps/mysql_poolboy.git", {branch,"master"}}},
    {goldrush,  ".*", {git, "ssh://git@kfchain.com:7999/deps/goldrush.git",{branch, "master"}}},
    {gproc,   ".*", {git, "ssh://git@kfchain.com:7999/deps/gproc.git", {branch,"master"}}}
]}.

