{erl_opts, [{parse_transform, lager_transform}]}.
{lib_dirs, ["deps"]}.

% {plugins, [erlson_rebar_plugin]}. % newest rebar
% {rebar_plugins, [erlson_rebar_plugin]}. % older rebar

{deps, [
    {lager,         ".*", {git, "git://github.com/erlang-lager/lager.git",          {branch,      "master"}}},
    {mysql,         ".*", {git, "git://github.com/mysql-otp/mysql-otp.git",         {branch,      "master"}}},
    {poolboy,       ".*", {git, "git://github.com/975806566/poolboy.git",           {tag,         "1.5.0"}}},
    {mysql_poolboy, ".*", {git, "git://github.com/mysql-otp/mysql-otp-poolboy.git", {tag,         "0.1.7"}}},
    {goldrush,      ".*", {git, "git://github.com/extend/goldrush.git",             {tag,         "1.5.1"}}},
    {gproc,         ".*", {git, "git://github.com/uwiger/gproc.git",                {tag,         "v0.2.10"}}}
]}.

